

body {
  height: 100%;

  background: linear-gradient(0deg,rgb(72, 77, 122) 0%,  rgb(226, 237, 243) 100%);
  background-attachment: fixed;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px 5px;
  
}

.list__item {
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  will-change: transform;
}

.label h1 {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -20px;
}

img {
  border-radius: 8px;
  padding: 5px;
  max-height: 75vh;
  pointer-events: none;
}

.tumblrico {
float: right;
}

.js-drag-handle {
  cursor: grab;
}

.link {
  float: right;
  margin-top: -35px;
}

.slidebutton {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30px;
}

.slidebutton1 {
  border-radius: 10px 0px 0px 0px;
}

.slidebutton2 {
  border-radius: 0px 10px 0px 0px;
}

.description-container {
  margin-top: -55px;
  background: rgb(50, 41, 73);
  border-radius: 10px;
}

.charatag {
  pointer-events: none;
  min-width: 200px;
  margin-top: -80px;
}

.label {
  padding: 10px 20px;
}

button {
  cursor: pointer;
  max-width: 50%;
  min-width: 30px;
  background-color: rgba(41, 27, 48, 0);
  border-radius: 10px;
  border-color: rgba(41, 27, 48, 0);
  color: white;
  
}


.list__item.is-idle {
  transition: 0.25s ease transform;
}

.list__item.is-draggable,
.list__item.is-draggable .drag-handle {
  cursor: grabbing;
}





