* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  background-color: rgb(226, 237, 243);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav li a {
  display: block;
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px;
}

#navigation {
    display: block;
    margin: auto;
    border-radius: 30px;
    width: fit-content;
    background-color: rgb(72, 77, 122);
    margin-top: 10px;
}

#wrapper {
    display: block;
    margin-top: 10px;
    padding: 20px;
    background-color:rgba(23, 25, 44, 0.76);
    color: white;
    border-radius: 20px;
    max-width: 700px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flexrow {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Change the link and background color on hover */
.nav li a:hover {
  color: #ffa600;
}

/* smaller screens */
@media only screen and (max-width: 699px) {
#wrapper {
    padding: 20px;
    border-radius: 0px;
    width: 100%;

}
#navigation {
    display: block;
    border-radius: 0px;
    width: 100%;

}
.nav li a {
  padding: 8px 0px;
  font-size: 3vw;
}


}
/* larger screens */
@media only screen and (min-width: 700px) {
  body {
    background: linear-gradient(0deg,rgb(72, 77, 122) 0%,  rgb(226, 237, 243) 100%);
      background-attachment: fixed;
  }
}

