@font-face {
  font-family: lobster;
  src: url(../fonts/lobster/Lobster-Regular.ttf);
}
@font-face {
  font-family: annieTelescope;
  src: url(../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf);
}
@font-face {
  font-family: archivoBlack;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}
@font-face {
  font-family: boogaloo;
  src: url(../fonts/Boogaloo/Boogaloo-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
/* Calico */
/* Colors */
/* FOUNDATION */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  background-color: #5e3827;
  font-family: roboto;
  overflow-x: hidden;
  margin: 0;
}

#burrito {
  width: 100%;
  overflow: hidden;
}

/**********************
  Flex column and row
-----------------------
  werecats/index.html
  index.html
***********************/
.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flexrow {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/**********************
  NAVIGATION
-----------------------
 Hamburger menu
***********************/
.off-screen-menu {
  background-color: #281B17;
  height: 100%;
  width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: -100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
  z-index: 10;
}
.off-screen-menu ul {
  list-style-type: none;
}
.off-screen-menu.active {
  top: 0;
}

nav {
  padding: 1rem;
  display: flex;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li a {
  display: block;
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px;
}
nav li a:hover {
  color: #ffa600;
}

.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
  z-index: 11;
  top: -10px;
  right: 20px;
  cursor: pointer;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #fbb268;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

/**********************
    Blog card
***********************/
.blogcard {
  display: block;
  max-width: 450px;
  text-align: justify;
  z-index: 5;
  padding: 10px;
}
.blogcard img {
  display: block;
  margin: auto;
}
.blogcard.mini-bc {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 10px solid #FFEF9D;
}

/**********************
    Blog section
***********************/
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  padding: 100px 20vw;
}
section p {
  z-index: 5;
}

/**********************
  background elements blog
***********************/
.orange-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 75%;
}

.orange-right {
  position: absolute;
  top: 20;
  right: 0;
  width: 30vw;
  height: 65%;
}

.rajah-top {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100vw;
}

.rajah-bottom {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100vw;
}

.di-serria {
  background: #D58543;
  color: black;
}
.di-serria h1 {
  color: white;
}

.coffee-top {
  position: absolute;
  top: 0;
  width: 100vw;
}

#topbar {
  background-size: 100% 100%;
  height: 100px;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.rajah {
  background: #fbb268;
  color: black;
}

.coffee {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

/**********************
    Modal
***********************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-button {
  border-radius: 5px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  cursor: pointer;
}
.modal-button h2, .modal-button img {
  pointer-events: none;
}
.modal-button h2 {
  position: absolute;
  visibility: hidden;
  color: black;
  padding: 10px;
  background-color: #fbb268;
  border-radius: 100px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.modal-button:hover {
  border-color: rgb(133, 52, 187);
  color: #281B17;
  margin-top: -10px;
}
.modal-button:hover h2 {
  visibility: visible;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/**********************
  REACTIVE LAYOUT
***********************/
/* smaller screens */
@media only screen and (max-width: 699px) {
  #wrapper {
    padding: 20px;
    border-radius: 0px;
    width: 100%;
  }
  #navigation {
    display: block;
    border-radius: 0px;
    width: 100%;
  }
  .nav li a {
    padding: 8px 0px;
    font-size: 3vw;
  }
  .coffee {
    background-image: url(../images/mobile-spotty-bg.svg);
  }
  .calicolite {
    background-image: url(../images/mobile-tabby-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
  }
  #topbar {
    background-image: url(../images/mobile-Brown-topbar.svg);
  }
  .orange-header {
    background-color: #fbb268;
    background-position: center center;
  }
  .orange-header h1 {
    font-family: archivoBlack;
    color: black;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 195px;
  }
  .orange-header h2 {
    font-family: boogaloo;
    color: white;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 160px;
  }
  .orange-header h3 {
    font-family: annieTelescope;
    color: white;
    font-size: 25px;
    margin: 0;
    position: relative;
    top: 75px;
    left: -150px;
    transform: rotate(335deg);
  }
  section {
    padding: 10px 10px;
  }
}
/* larger screens */
@media only screen and (min-width: 700px) {
  .gradient {
    background: linear-gradient(0deg, rgb(59, 64, 110) 0%, rgb(216, 238, 250) 100%);
    background-attachment: fixed;
  }
  .coffee {
    background-image: url(../images/spotty-bg.svg);
    background-color: #5e3827;
  }
  .calicolite {
    background-image: url(../images/tabby-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
  }
  #topbar {
    background-image: url(../images/Brown-topbar.svg);
  }
  .orange-header {
    background-color: #fbb268;
    background-position: center center;
  }
  .orange-header h1 {
    font-family: archivoBlack;
    color: black;
    font-size: 75px;
    margin: 0;
    position: absolute;
    top: 195px;
  }
  .orange-header h2 {
    font-family: boogaloo;
    color: white;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 160px;
  }
  .orange-header h3 {
    font-family: annieTelescope;
    color: white;
    font-size: 35px;
    margin: 0;
    position: relative;
    top: 75px;
    left: -245px;
    transform: rotate(335deg);
  }
}/*# sourceMappingURL=style.css.map */