
@font-face {
    font-family: lobster;
    src: url(../fonts/lobster/Lobster-Regular.ttf); 
}
@font-face {
    font-family: annieTelescope;
    src: url(../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf); 
}
@font-face {
    font-family: archivoBlack;
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf); 
}
@font-face {
    font-family: boogaloo;
    src: url(../fonts/Boogaloo/Boogaloo-Regular.ttf); 
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf); 
}

/* Calico */
$my-pink: #d9948a;
$coral-tree: #a97267;
$irish-coffee: #5e3827;
$extra-dark: #281B17;
$sepia-skin: #a3683d;
$di-serria: #d99658;
$rajah: #fbb268;
$tabby: #D58543;


/* Colors */
$warm-bright: #ffa600;
$gradient1: rgb(59, 64, 110);
$gradient2: rgb(216, 238, 250);
$dark-bg: rgba(39, 41, 63, 0);

/* FOUNDATION */

* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  background-color: $irish-coffee;
  font-family: roboto;
  overflow-x: hidden;
  margin: 0;
}

#burrito {
  width: 100%;
  overflow: hidden;
}

/**********************
  Flex column and row
-----------------------
  werecats/index.html
  index.html
***********************/
.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flexrow {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/**********************
  NAVIGATION
-----------------------
 Hamburger menu
***********************/

.off-screen-menu {
    background-color: $irish-coffee;
    height: 100%; 
    width: 100vw;
    max-height: 100vh;
    position: fixed;
    top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 10;

    ul {
        list-style-type: none;
    }

    &.active {
    top: 0;
    }
}

nav {
    padding: 1rem;
    display: flex;

     ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

    li a {
    display: block;
    color: white;
    font-weight: 700;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px;
        &:hover {
        color: $warm-bright;
        }
    }
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 11;
    top: -10px;
    right: 20px;
    cursor: pointer;

    &.active {
        span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-child(2) {
        opacity: 0;
        }
        span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    span {
        height: 5px;
        width: 100%;
        background-color: $rajah;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;

        &:nth-child(1) {
            top: 25%;
        }

        &:nth-child(3) {
            top: 75%;
        }

    }
}

/**********************
    Blog card
***********************/
.blogcard {
    display: block;
    max-width: 450px;
    text-align: justify;
    z-index: 5;
    padding: 10px;
    img {
        display:block;
        margin: auto;
        max-height: 350px;
        }
    &.mini-bc {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-bottom: 10px solid #FFEF9D;
        }
}

/**********************
    Blog section
***********************/
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    padding: 100px 20vw;
    p {
        z-index: 5;
    }
}


/**********************
  background elements blog
***********************/
.orange-header {
    background-color: $rajah;
    background-position: center center;
    h1 {
        font-family: archivoBlack;
        color: black;
        font-size: 75px;
        margin: 0;
        position: absolute;
        top: 195px;
    }
    h2 {
        font-family: boogaloo;
        color: white;
        font-size: 50px;
        margin: 0;
        position: absolute;
        top: 160px;
    }
    h3 {
        font-family: annieTelescope;
        color: white;
        font-size: 35px;
        margin: 0;
        position: relative;
        top: 75px;
        left: -245px;
        transform: rotate(335deg);
    }
}
.orange-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 75%;
}
.orange-right {
    position: absolute;
    top: 20;
    right: 0;
    width: 30vw;
    height: 65%;
}
.rajah-top {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100vw;
}
.rajah-bottom {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100vw;
}

.calicolite {
    background-image: url(../images/calicolite-tile.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
.di-serria {
    background: $tabby;
    color: black;
    h1 {
        color: white;
    }
}
.coffee-top {
    position: absolute;
    top: 0;
    width: 100vw;
}

.z1-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 20vw;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 20px;
}
.z2-left {
    position: absolute;
    top: 100;
    left: 0;
    height: 70%;
    width: 15vw;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 20px;
}

.z1-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40vw;
    z-index: 1;
    padding-bottom: 20px;
}
.z2-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 95%;
    width: 30vw;
    z-index: 2;
    padding-bottom: 20px;
}
#topbar {
    background-image: url(../images/Brown-topbar.svg);
    background-size: 100vw 100%;
    height: 100px;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: right;
}
.rajah {
    background: $rajah;
    color: black;
}


.coffee {
    background: $irish-coffee;
    color: white;
}
/**********************
    Modal
***********************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-button {
    cursor: pointer;
    h2, img {
        pointer-events: none;
    }
    &:hover {
        border-color: rgb(168, 70, 233);
        color: $extra-dark;
    }
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    } 
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/**********************
  REACTIVE LAYOUT
***********************/

/* smaller screens */
@media only screen and (max-width: 699px) {
  #wrapper {
      padding: 20px;
      border-radius: 0px;
      width: 100%;
  }
  #navigation {
      display: block;
      border-radius: 0px;
      width: 100%;
  }
  .nav li a {
    padding: 8px 0px;
    font-size: 3vw;
  }
}

/* larger screens */
@media only screen and (min-width: 700px) {
  .gradient {
    background: linear-gradient(0deg,$gradient1 0%,  $gradient2 100%);
    background-attachment: fixed;
  }
}

