 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgba(23, 25, 44, 0.76);
  background-color:rgba(23, 25, 44, 0.76);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid rgba(23, 25, 44, 0.76);
  border-top: none;
} 